<main>
    <!--
    <section class="presentacion">
        <img src="../../../assets/pagina/banner.jpg" alt="">
        <div class="presentacion-text">
            <h1 style="color:aliceblue"><strong>El Mejor Servicio para tu vehiculo</strong> </h1>
        </div>

    </section>
-->

    <div class="row">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="../../../assets/pagina/lavadero.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title ">LAVADO</h5>
                        <p class="card-text"> Realizamos el lavado completo de tu vehículo</p>
                        <ul class=" list-group list-group-flush">
                            <li class="list-group-item">Lavado de motor</li>
                            <li class="list-group-item">Limpieza integral del interior</li>
                            <li class="list-group-item">Hidratación de plásticos</li>

                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn ">Solicitar turno</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="../../../assets/pagina/service.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title ">SERVICE</h5>
                        <p class="card-text">De acuerdo al kilometraje de tu automotor brindamos</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">20 puntos de control gratuito</li>
                            <li class="list-group-item">Repuestos y mano de obra certificada</li>
                            <li class="list-group-item">Garantia de 6 meses</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn">Solicitar turno</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="../../../assets/pagina/reparacion.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title "> MANTENIMIENTO</h5>
                        <p class="card-text">Mecánica integral del automotor</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Necesitas un mecánico profesional?</li>
                            <li class="list-group-item">Reserva un turno para recibir el mejor diagnostico. </li>
                            <!--
                                        <li class="list-group-item">Cambio de aceite y filtros todas las marcas</li>
                                        <li class="list-group-item">Reparacion de tren delantero</li>
                                    -->
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn">Solicitar turno</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </main>
    <!-- 
   
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/pagina/bannerPrincipal.jpg" class="d-block w-100 h-112" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/pagina/carrusel1.jpg" class="d-block w-100 h-112" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/pagina/carrusel2.jpeg" class="d-block w-100 h-112" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->