<main>
    <div class="row">
        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col">
                <div class="card">
                    <img src="../../../assets/pagina/pintura.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title ">CHAPA Y PINTURA</h5>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button  collapsed" id="ver-mas" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                                    aria-controls="collapseOne">
                                    Ver Más
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Contamos con un personal
                                    altamente calificados para realizar el servicio de Chapa y pintura de tu vehiculo.
                                    Trabajamos tambien con cabinas de pintura y colores originales.
                                </div>
                                <div class="card-footer">
                                    <a href="https://web.whatsapp.com/" target="_blank" class="btn ">Solicitar turno</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card">
                    <img src="../../../assets/pagina/service.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title ">COCHES HÍBRIDOS</h5>
                       
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button  collapsed" id="ver-mas" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    Ver Más
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    En nuestros talleres nos hemos adaptado a nuestro tiempo, y es
                                    por ello que también ofrecemos un servicio de reparación y mantenimiento a los
                                    coches híbridos; no solo a los convencionales.
                                </div>
                                <div class="card-footer">
                                    <a href="https://web.whatsapp.com/" target="_blank" class="btn ">Solicitar turno</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="../../../assets/pagina/reparacion.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title "> MANTENIMIENTO INTEGRAL</h5>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button  collapsed" id="ver-mas" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    Ver Más
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Desde cambio de aceites, filtros, pastillas o discos de freno
                                    hasta distribuciones, correas... Sea cual sea los cuidados de tu vehículo,
                                    le daremos un servicio completo de calidad
                                </div>
                                <div class="card-footer">
                                    <a href="https://web.whatsapp.com/" target="_blank" class="btn ">Solicitar turno</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


            <div class="col">
                <div class="card ">
                    <img src="../../../assets/pagina/diagnosis.JPEG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title ">DIAGNOSIS</h5>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button  collapsed" id="ver-mas" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour">
                                    Ver Más
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Para circular con seguridad es fundamental realizar una diagnosis
                                    al vehículo y verificar que cumple los requisitos mínimos de seguridad.
                                </div>
                                <div class="card-footer">
                                    <a href="https://web.whatsapp.com/" target="_blank" class="btn ">Solicitar turno</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


            <div class="col">
                <div class="card ">
                    <img src="../../../assets/pagina/mecanica.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title ">MECÁNICA EN GENERAL</h5>


                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button  collapsed" id="ver-mas" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                                    aria-controls="collapseFive">
                                    Ver Más
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Contamos con el mejor servicio técnico especializado en
                                    climatización de automotores y calefacción.
                                </div>
                                <div class="card-footer">
                                    <a href="https://web.whatsapp.com/" target="_blank" class="btn ">Solicitar turno</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card ">
                    <img src="../../../assets/pagina/neumatico.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title ">NEUMATICOS</h5>



                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button  collapsed" id="ver-mas" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false"
                                    aria-controls="collapseSix">
                                    Ver Más
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Contamos con el mejor servicio técnico especializado en
                                    climatización de automotores y calefacción.
                                </div>
                                <div class="card-footer">
                                    <a href="https://web.whatsapp.com/" target="_blank" class="btn ">Solicitar turno</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card ">
                    <img src="../../../assets/pagina/electronica.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title ">ELECTRÓNICA DEL VEHÍCULO</h5>
                        <p class="card-text"></p>


                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSeven">
                                <button class="accordion-button  collapsed" id="ver-mas" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false"
                                    aria-controls="collapseSeven">
                                    Ver Más
                                </button>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Contamos con el mejor servicio técnico especializado en
                                    climatización de automotores y calefacción.
                                </div>
                                <div class="card-footer">
                                    <a href="https://web.whatsapp.com/" target="_blank" class="btn ">Solicitar turno</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card ">
                    <img src="../../../assets/pagina/inyeccion.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title ">INYECIÓN DEL VEHÍCULO</h5>



                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingEight">
                                <button class="accordion-button  collapsed" id="ver-mas" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false"
                                    aria-controls="collapseEight">
                                    Ver Más
                                </button>
                            </h2>
                            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Contamos con el mejor servicio técnico especializado en
                                    climatización de automotores y calefacción.
                                </div>
                                <div class="card-footer">
                                    <a href="https://web.whatsapp.com/" target="_blank" class="btn ">Solicitar turno</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


            <div class="col">
                <div class="card ">
                    <img src="../../../assets/pagina/clima.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title ">CLIMATIZACIÓN</h5>



                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingNine">
                                <button class="accordion-button  collapsed" id="ver-mas" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false"
                                    aria-controls="collapseNine">
                                    Ver Más
                                </button>
                            </h2>
                            <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Contamos con el mejor servicio técnico especializado en
                                    climatización de automotores y calefacción.
                                </div>
                                <div class="card-footer">
                                    <a href="https://web.whatsapp.com/" target="_blank" class="btn ">Solicitar turno</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img class="img-fluid" src="../../../assets/pagina/inyeccion.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title ">ELECTRICIDAD DEL VEHÍCULO</h5>



                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button  collapsed" id="ver-mas" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                                    aria-controls="collapseFive">
                                    Ver Más
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Somos especialistas en el diagnóstico de las averías eléctricas y
                                    nuestro objetivo es ofrecer la máxima garantía en todas nuestras reparaciones.
                                </div>
                                <div class="card-footer">
                                    <a href="https://web.whatsapp.com/" target="_blank" class="btn ">Solicitar turno</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</main>
