
<main class="vh-100 bg-light d-flex align-items-center">
    <section class="h-75 container-sm mx-auto" style="background-color: #060818;">
        <h1 class="fs-5 text text-center py-3" style="color: aliceblue;">
            Preguntas frecuentes
        </h1>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <i class="bi bi-window"></i>
                        <span class="px-3 text">¿Cómo puedo ingresar a la APP de SERVICIO AUTOMOTOR ?</span>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"> ¡Es muy fácil! Solo tienes que regístrate con todos tus datos,
                        iniciar sesión y listo ya puedes disfrutar de la APP</div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <i class="bi bi-signpost-split"></i>
                        <span class="px-3 text">¿Dónde tiene sucursales ?</span>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">En esta página usted encontrará todas nuestras sucursales de
                        Argentina junto con los medios de contacto.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                        aria-controls="flush-collapseThree">
                        <i class="bi bi-flag-fill"></i>
                        <span class="px-3 text">¿Cuáles son los servicios que brindan ?</span>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Servicio del Automotor tiene una gran variedad de servicios para
                        todos nuestros clientes. <br>
                        En caso de que necesites un mecánico tenemos a disposición los mejores profesionales para tu
                        auto, pagas la consulta y listo!<br>
                        En el Sector SERVICE chequeo de correas/cadena de distribución. Filtro de aire.Neumáticos su
                        estado, presión, etc. <br>
                        En el sector LAVANDERIA limpieza interior y exterior. Aspirado,Pulido,Encerado,Limpieza
                        profunda de tapicería,etc.<br>
                        Tambien contamos con los mejores productos y respuestos de primera marca para tu vehiculo.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false"
                        aria-controls="flush-collapseFour">
                        <i class="bi bi-x-circle"></i>
                        <span class="px-3 text">¿Puédo modificar o cancelar una reserva de truno ?</span>
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Si!.Tan solo inicias sesión con tu cuenta, vas a la sección de
                        turnos a continuación cancelación de turnos y listo.<br>
                        O comunicándote con nosotros telefónicamente o por WhatsApp.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFive" aria-expanded="false"
                        aria-controls="flush-collapseFive">
                        <i class="bi bi-binoculars"></i>
                        <span class="px-3 text">¿Puédo hacer el seguimiento de mi vehiculo ?</span>
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Si!. Entras a tu cuenta a la App y tenes toda la info.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                        <i class="bi bi-credit-card-2-back"></i>
                        <span class="px-3 text">¿Cuáles son los medios de pago disponibles ?</span>
                    </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">En SERVICIO AUTOMOTOR podes abonar en efectivo, tarjeta de débito,
                        tarjeta de crédito, Mercado Pagó o transferencias bancarias
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSeven" aria-expanded="false"
                        aria-controls="flush-collapseSeven">
                        <i class="bi bi-truck"></i>
                        <span class="px-3 text">¿Hacen envios de productos a domicilio ? </span>
                    </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">No. Por ahora no contamos con envios. Solo podes retirar tus
                        productos desde cualquier sucursar cercana.
                    </div>
                </div>
            </div>

        </div>





    </section>
</main>
