nav{
    background-color: #0A0D28;
}
.nav-item .nav .navbar-nav .nav-link{
    color: white !important;

}
.boton{
    display: flex;
    margin-right: 5px;
    float: left;
}


.idCliente{
    display: flex;
    margin-right: 5px;
    float: left;
}
main{
    background: url(../image/taller.png);
    background-size: cover;
    background-position: center;

}
.volver{
    display: flex;
    margin: auto;
    float: right;


}
footer{
    background-color: #0A0D28;
}
