
<div class="container py-5">
    <div class="feature col">
      <h3 class="fs-2">Dejanos tu mensaje</h3>
      <!-- class="needs-validation" novalidate -->
      <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
        <div>
          <label for="validationName" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            name="nombre"
            id="validationNombre"
            required
            formControlName="nombre"
            
          />
          <!-- <div class="valid-feedback">Looks good!</div> -->
          <div *ngIf="Nombre?.errors && Nombre?.touched">

            <p *ngIf="Nombre?.hasError('required')" class="text-danger">
              El nombre es requerido
            </p>
            <p *ngIf="Nombre?.hasError('maxLength')" class="text-danger">
              El nombre debe ser menor a 20 caractéres
            </p>
          </div>
  
          <!-- <div class="invalid-feedback"></div> -->
        </div>
  
        <div>
          <label for="validationEmail" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="validationEmail"
            aria-describedby="inputGroupPrepend"
            placeholder="juanperez@gmail.com"
            required
            formControlName="email"
          />
          <!-- <div class="valid-feedback">Looks good!</div> -->
          <div *ngIf="Email?.errors && Email?.touched">
            <p *ngIf="Email?.hasError('required')" class="text-danger">
              El email es requerido
            </p>
            <p *ngIf="Email?.hasError('email')" class="text-danger">
              El email debe ser 
            </p>
          </div>
          <!-- <div class="invalid-feedback">Please choose a email.</div> -->
        </div>
  
        <div>
          <label for="validationMessage" class="form-label">Mensaje</label>
          <input
            type="textarea"
            class="form-control"
            id="validationEmail"
            aria-describedby="inputGroupPrepend"
            required
            formControlName="mensaje"
          />
          <!-- <div class="valid-feedback">Looks good!</div> -->
          <div *ngIf="Mensaje?.errors && Mensaje?.touched">
            <p *ngIf="Mensaje?.hasError('required')" class="text-danger">
              Deje un mensaje
            </p>
            <p *ngIf="Mensaje?.hasError('maxlength')" class="text-danger">
              El mensaje debe ser mas corto.
            </p>
          </div>
  
          <div class="invalid-feedback">Por favor, ecribe un mensaje.</div>
        </div>
        <br />
        <div>
          <button
            class="col-12 btn btn-primary bg-primary text-white"
            type="submit"
          >
            Enviar
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="container py-5">
    <div class="feature col">
      <h3 class="fs-2">Seguinos en nuestras redes</h3>

            <!-- Facebook -->
            <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
            ></a>
            
            <!-- Twitter -->
            <a class="btn btn-primary" style="background-color: #55acee;" href="#!" role="button"
            ><i class="fab fa-twitter"></i
            ></a>

            <!-- Instagram -->
            <a class="btn btn-primary" style="background-color: #ac2bac;" href="#!" role="button"
            ><i class="fab fa-instagram"></i
            ></a>

            <!-- Linkedin -->
            <a class="btn btn-primary" style="background-color: #0082ca;" href="#!" role="button"
            ><i class="fab fa-linkedin-in"></i
            ></a>