<!--Main layout-->
<main class="mt-5 pt-4">
  <div class="container mt-5">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <img src="{{ productos.img }}" class="img-fluid" alt="" />
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <!--Content-->
        <div class="p-4">
          <div class="mb-3">
            <strong
              ><h1>{{ productos.nombre }}</h1></strong
            >
          </div>

          <p class="lead">
            <span class="me-1"> </span>
            <span>${{ productos.precio }}</span>
          </p>

          <strong><p style="font-size: 20px">Descripción</p></strong>

          <p>{{ productos.descripcion }}</p>
          <br />

          <form class="d-flex justify-content-left">
            <!-- Default input -->
            <div class="form-outline me-1" style="width: 100px">
              <input type="number" value="1" class="form-control" />
            </div>
            <button
              class="btn btn-primary shadow-0 me-1"
              (click)="agregarCarrito()"
            >
              Añadir al carrito1
            </button>
            <a href="/carrito" class="btn btn-primary shadow-0 me-1"
              >Añadir al carrito</a
            >
            <a href="/productos" type="button" class="btn btn-secondary"
              >Volver</a
            >
          </form>
        </div>
        <!--Content-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

    <hr />
  </div>

<!--Main layout-->
