<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container mt-5">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <img src="../../../assets/productos/img01.png" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div  class="col-md-6 mb-4">
                <!--Content-->
                <div class="p-4">
                    <div class="mb-3">
                        <strong><h1>productos.nombre</h1></strong>
                    </div>

                    <p class="lead">
                        <span class="me-1">
                           
                        </span>
                        <span>$13.500,00</span>
                    </p>

                    <strong><p style="font-size: 20px;">Descripción</p></strong>

                    <p>Shell Helix Ultra 5W30,
                        Aceite 100 % sintetico.                        
                        Shell Helix Ultra emplea la exclusiva tegnologia de limpieza activa para permitir a los motores de alto rendimiento mantener su eficiencia , evitando perdidas de potencia y desgaste . Reduce la fricción , mejorando el ahorro de combustible.
                        Especificaciones, Aprobaciones & Recomendaciones API SL/CF · ACEA A3/B3, A3/B4 · BMW LL-01 · MB Aprobación 229.5, 226.5 · VW 502.00, 505.00 · Renault RN 0700, 0710 · Cumple con los requerimientos para API SN/CF</p>
                    <br>

                    <form class="d-flex justify-content-left">
                        <!-- Default input -->
                        <div class="form-outline me-1" style="width: 100px;">
                            <input type="number" value="1" class="form-control" />
                        </div>
                        <a href="/carrito" class="btn btn-primary shadow-0 me-1">Añadir al carrito</a>
                    </form>
                </div>
                <!--Content-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

        <hr />

        

        
    </div>
</main>
<!--Main layout-->

