<div class="w-100 p-3 pb-md-5 container-card-carrito">
  <div
    class="d-flex flex-wrap justify-content-md-between align-items-center text-align-center"
  >
    <div class="d-flex col-12 col-md-6 gap-5 align-items-md-center">
      <img src="" alt="" style="height: 50px; width: 50px" />
      <h5 class="text-center fw-semilbold">Nombre del pruducto</h5>
    </div>

    <div
      class="d-flex col-12 col-md-6 gap-5 align-items-md-center justify-content-between mt-4"
    >
      <input type="text mr-3 " style="width: 100px" />
      <h3 class="fw-normal">$500</h3>
    </div>
  </div>

  <div class="d-flex gap-3 mt-3 more-btn">
    <span class="text-primary cursor-pointer">Eliminar</span>
    <span class="text-primary">Comprar ahora</span>
  </div>
</div>
