<header class="p-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="https://github.com/EvanaSabatella1989/Proyecto-Integrador-Full-Stack-ISPC/blob/main/maqueta/frontend/image/logo.png?raw=true"
                    width="100" height="40" class="d-inline-block align-top" alt="">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a routerLink="/home" class="nav-link px-2 text-white">Home</a></li>
                <li><a routerLink="/servicios" class="nav-link px-2 text-white">Servicios</a></li>
                <li><a class="nav-link px-2 text-white">Productos</a></li>
                <li><a routerLink="/sucursales" class="nav-link px-2 text-white">Sucursales</a></li>
                <li><a routerLink="/contacto" class="nav-link px-2 text-white">Contacto</a></li>
                <li><a routerLink="/quienes-somos" class="nav-link px-2 text-white">Nosotros</a></li>
            </ul>



            <div class="text-end">
                <button routerLink="/login"r type="button" class="btn btn-outline-light me-2" >Ingresar</button>
                <button routerLink="/registrarse" type="button" class="btn btn-warning">Registrarse</button>
            </div>
            <a href="#" class="icon-link" style="color: yellow; margin-left: 10px;"><svg
                    xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cart3"
                    viewBox="0 0 16 16">
                    <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg></a>
        </div>
    </div>
</header>