<header class="p-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="https://github.com/EvanaSabatella1989/Proyecto-Integrador-Full-Stack-ISPC/blob/main/maqueta/frontend/image/logo.png?raw=true"
                    width="100" height="40" class="d-inline-block align-top" alt="">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a routerLink="/home" class="nav-link px-2 text-white">Home</a></li>
                <li><a routerLink="/servicios" class="nav-link px-2 text-white">Servicios</a></li>
                <li><a routerLink="/sucursales" class="nav-link px-2 text-white">Sucursales</a></li>
                <li><a routerLink="/contacto" class="nav-link px-2 text-white">Contacto</a></li>
                <li><a routerLink="/quienes-somos" class="nav-link px-2 text-white">Nosostros</a></li>
            </ul>



            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning">Register</button>
            </div>
        </div>
    </div>
</header>