<main class="bg-light">


    <section class="ofrecimiento bg-dark text-white">
        <div class="con-ofreci">
            <section class="card-ofreci">
                <h5>Diagnóstico completo</h5>
                <img src="https://github.com/EvanaSabatella1989/Proyecto-Integrador-Full-Stack-ISPC/blob/main/maqueta/frontend/image/diagnostico.jpeg?raw=true"
                    alt="Servicio de diagnóstico computarizado del vehículo acompañado de informe sin cargo." />

            </section>
            <section class="card-ofreci">
                <h5>Asesoramiento profesional</h5>
                <img src="https://github.com/EvanaSabatella1989/Proyecto-Integrador-Full-Stack-ISPC/blob/main/maqueta/frontend/image/asesoramiento.jpg?raw=true"
                    alt="Asesoramiento especializado orientado a maximizar la vida útil de los vehículos, tanto livianos como utilitarios." />
            </section>
            <section class="card-ofreci">
                <h5>Garantía de calidad</h5>
                <img src="https://github.com/EvanaSabatella1989/Proyecto-Integrador-Full-Stack-ISPC/blob/main/maqueta/frontend/image/garantiadeservicio.jpg?raw=true"
                    alt="Productos y servicios de máxima calidad, homologados por fabricantes y terminales automotrices." />
            </section>
        </div>
    </section>

    <br>
    <section>
        <h4 style="text-align: center; text-decoration: underline;">
            Servicios
        </h4>
        <br>

        <div class="con-servicio">

            <div class="card-servicio">
                <h5>
                    Lavado
                </h5>

            </div>

            <div class="card-servicio">
                <h5>
                    Service
                </h5>
            </div>

            <div class="card-servicio">
                <h5>
                    Reparaciones y mantenimiento
                </h5>
            </div>
        </div>
    </section>

    <!-- <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Contacto</h2>

        <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">

            <div class="col d-flex flex-column align-items-start gap-2">
                <h4>Contacto</h4>
                <form class=" needs-validation" novalidate>
                    <div>
                        <label for="validationName" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="validationNombre" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>

                        <div class="invalid-feedback">

                        </div>
                    </div>

                    <div>
                        <label for="validationEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="validationEmail"
                            aria-describedby="inputGroupPrepend" placeholder="juanperez@gmail.com" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>


                        <div class="invalid-feedback">
                            Please choose a email.
                        </div>
                    </div>

                    <div>
                        <label for="validationMessage" class="form-label">Mensaje</label>
                        <input type="textarea" class="form-control" id="validationEmail"
                            aria-describedby="inputGroupPrepend" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>


                        <div class="invalid-feedback">
                            Por favor, ecribe un mensaje.
                        </div>
                    </div>
                    <br>
                    <div>
                        <button class="col-12  btn btn-primary btn-register bg-primary text-white "
                            type="submit">Enviar</button>
                    </div>
                </form>
            </div>

            <div class="col d-flex flex-column align-items-start gap-2">
                <div class="row row-cols-1 row-cols-sm-2 g-4">
                    <div class="col d-flex flex-column gap-2">


                        <h4> Cuidados del vehículo - Consejos y sugerencias</h4>

                        <div>
                            <p> Es importante que se realice un mantenimiento regular para detectar cualquier problema a
                                tiempo,
                                anticipándose así, a una parada intempestiva del vehículo y a futuras reparaciones
                                costosas.
                            </p>

                            <p> Ultima entrada visitada</p>
                            <a>https://www.axionenergy.com/Paginas/Claves-consejos-mantener-auto.aspx</a>
                        </div>
                    </div>



                    <div class="col d-flex flex-column gap-2">
                        <h4>Acerca de</h4>
                        <div>
                            <p>
                                Somos una empresa lider en el cuidado de tu vehículo. Con mas de 20 años de experiencia
                                contamos con
                                una amplia red de sucursales en todo el país.

                            </p>
                        </div>
                    </div>


                </div>

            </div>

        </div>




    </div> -->

    <div class=" px-4 py-5" id="featured-3">

        <div class="row g-3 py-5 row-cols-1 row-cols-lg-3 ">

            <div class="feature col">

                <h3 class="fs-2">Contacto</h3>

                <form class=" needs-validation " novalidate>
                    <div>
                        <label for="validationName" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="validationNombre" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>

                        <div class="invalid-feedback">

                        </div>
                    </div>

                    <div>
                        <label for="validationEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="validationEmail"
                            aria-describedby="inputGroupPrepend" placeholder="juanperez@gmail.com" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>


                        <div class="invalid-feedback">
                            Please choose a email.
                        </div>
                    </div>

                    <div>
                        <label for="validationMessage" class="form-label">Mensaje</label>
                        <input type="textarea" class="form-control" id="validationEmail"
                            aria-describedby="inputGroupPrepend" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>


                        <div class="invalid-feedback">
                            Por favor, ecribe un mensaje.
                        </div>
                    </div>
                    <br>
                    <div>
                        <button class="col-12  btn btn-primary btn-register bg-primary text-white "
                            type="submit">Enviar</button>
                    </div>
                </form>
            </div>

            <div class="feature col px-2">

                <h3 class="fs-2">Cuidados del vehículo - Consejos y sugerencias</h3>
                <div>
                    <p> Es importante que se realice un mantenimiento regular para detectar cualquier problema a
                        tiempo,
                        anticipándose así, a una parada intempestiva del vehículo y a futuras reparaciones
                        costosas.
                    </p>

                    <p> Ultima entrada visitada</p>
                    <a>https://www.axionenergy.com/Paginas/Claves-consejos-mantener-auto.aspx</a>
                </div>

            </div>
            <div class="feature col px-2">

                <h3 class="fs-2 mt-0">Acerca de</h3>
                <div>
                    <p>
                        Somos una empresa lider en el cuidado de tu vehículo. Con mas de 20 años de experiencia
                        contamos con
                        una amplia red de sucursales en todo el país.

                    </p>
                </div>
            </div>
        </div>
    </div>


</main>