.con-log {
    height: 90vh;
    display: flex;
    align-items: center;
}
form{
    max-width: 500px;
   
   
}

.btn{
    background-color: #060818;
    color: #FFFFFF;
}

.btn:hover{
    background-color: #F5C057;
}
 
a{
    color:  #F5C057;
}

.bg-color{
    background-color: #060818;
}
