<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 border-top">
  <div class="col mb-3">
    <a
      href="/"
      class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
    >
      <img
        src="https://github.com/EvanaSabatella1989/Proyecto-Integrador-Full-Stack-ISPC/blob/main/maqueta/frontend/image/logo.png?raw=true"
        width="100"
        height="40"
        class="d-inline-block align-center"
        alt=""
      />
    </a>
    <p class="text-body-secondary">&copy; 2023</p>
  </div>

  <div class="col mb-3">
    <h5>Más info</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Quienes somos</a>
      </li>
      <li class="nav-item mb-2">
        <a
          routerLink="/preguntas-frecuentes"
          class="nav-link p-0 text-body-secondary"
          >Preguntas frecuentes</a
        >
      </li>
    </ul>
  </div>

  <div class="col mb-3">
    <h5>Servicios y Productos</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Chapa y pintura</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary"
          >Mantenimiento integral</a
        >
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Llantas</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Matafuegos</a>
      </li>
    </ul>
  </div>

  <div class="col mb-3">
    <h5>Susursales</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Capital Federal</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Gran Bs As</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary"
          >Partido de la Costa</a
        >
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary"
          >Provincias del País</a
        >
      </li>
    </ul>
  </div>

  <div class="col mb-3">
    <h5>Contacto</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary"
          >service@gmail.com</a
        >
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">+593816900309</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary"
          >www.servicedelautomotor.com.ar</a
        >
      </li>
    </ul>
  </div>
</footer>
