<section>
    <div class="container my-5">
      <header class="mb-4">
        <h3>Productos</h3>
      </header>
  
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
          <div class="card w-100 my-2 shadow-2-strong">
            <img src="../../../assets/productos/img01.png" class="card-img-top" style="aspect-ratio: 1 / 1" />
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Aceite Shell 5w30 4lts</h5>
              <p class="card-text">$13.500,00</p>
              <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                <a href="/carrito" class="btn btn-primary shadow-0 me-1 ">Añadir al carrito</a>
                <a href="/articulo" class="btn btn-primary shadow-0 me-1">Detalles</a>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
            <div class="card w-100 my-2 shadow-2-strong">
              <img src="../../../assets/productos/img02.png" class="card-img-top" style="aspect-ratio: 1 / 1" />
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Elaion F50 5w-40 X 4 Lt</h5>
                <p class="card-text">$16.900,00</p>
                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                  <a href="/carrito" class="btn btn-primary shadow-0 me-1">Añadir al carrito</a>
                  
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
            <div class="card w-100 my-2 shadow-2-strong">
              <img src="../../../assets/productos/img03.png" class="card-img-top" style="aspect-ratio: 1 / 1" />
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Kit De Distribucion Bosch Vw Gol Polo Saveiro 1.9</h5>
                <p class="card-text">$39.900,00</p>
                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                  <a href="/carrito" class="btn btn-primary shadow-0 me-1">Añadir al carrito</a>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
            <div class="card w-100 my-2 shadow-2-strong">
              <img src="../../../assets/productos/img04.png" class="card-img-top" style="aspect-ratio: 1 / 1" />
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Filtro De Aire Peugeot 206 306 Citroen Picasso 1.4 1.6 2.0hd</h5>
                <p class="card-text">$3.500,00</p>
                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                  <a href="/carrito" class="btn btn-primary shadow-0 me-1">Añadir al carrito</a>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
            <div class="card w-100 my-2 shadow-2-strong">
              <img src="../../../assets/productos/img05.png" class="card-img-top" style="aspect-ratio: 1 / 1" />
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Filtro De Aceite Renault Kangoo </h5>
                <p class="card-text">$2.000,00</p>
                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                  <a href="/carrito" class="btn btn-primary shadow-0 me-1">Añadir al carrito</a>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
            <div class="card w-100 my-2 shadow-2-strong">
              <img src="../../../assets/productos/img06.png" class="card-img-top" style="aspect-ratio: 1 / 1" />
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Batería Moura M-20gd 12x65 D</h5>
                <p class="card-text">$29.000,00</p>
                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                  <a href="/carrito" class="btn btn-primary shadow-0 me-1">Añadir al carrito</a>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
            <div class="card w-100 my-2 shadow-2-strong">
              <img src="../../../assets/productos/img07.png" class="card-img-top" style="aspect-ratio: 1 / 1" />
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Lampara H4 12v 60/55w</h5>
                <p class="card-text">$2.000,00</p>
                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                  <a href="/carrito" class="btn btn-primary shadow-0 me-1">Añadir al carrito</a>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
            <div class="card w-100 my-2 shadow-2-strong">
              <img src="../../../assets/productos/img08.png" class="card-img-top" style="aspect-ratio: 1 / 1" />
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Kit Cree Led H4</h5>
                <p class="card-text">$20.000,00</p>
                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                  <a href="/carrito" class="btn btn-primary shadow-0 me-1">Añadir al carrito</a>
                  
                </div>
              </div>
            </div>
          </div>
          
        
       