.table{
    margin-top: 25px;
}


#edit{
    color: greenyellow;
}
#borrar{
    color: red;
}

.btn{
    float: right;
    margin-bottom: 15px;
}

h4{
    text-align: center;
    margin-bottom: 5px;
}

img{
    
    height:50px ;
}