
<main>

     

    <div class="container contenido">
        <div class="row">
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-block">
                        <div class="map">
                            <iframe src="https://www.google.com/maps/d/embed?mid=165JGZSL0QkOd8qrmEXI8ZctDXY1obVA&ehbc=2E312F" 
                            width="840" height="480"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="list-group">
                    <address class="list-group-item list-group-item-success ">
                        <strong>Sucursal N° 1</strong><br>
                        Cerrito 2546, San Martín, Provincia de Buenos Aires
                    </address>
                    <a href="tel:+54 9 11 6481-6243"
                        class="list-group-item clickToCall clickableBackgroundColor active"><span
                        class="fa fa-phone mr-2"> </span>Llamar
                    </a>
                    <p></p>
                    <div class="list-group">
                        <address class="list-group-item list-group-item-success ">
                            <strong>Sucursal N° 2</strong><br>
                            Av. Independia 670, Mar del Plata, Provincia de Buenos Aires
                        </address>
                        <a href="tel:+54 9 11 6481-6243"
                            class="list-group-item clickToCall clickableBackgroundColor active"><span
                            class="fa fa-phone mr-2"> </span>Llamar
                        </a>
                    </div>
                    <p></p>
                    <div class="list-group">
                        <address class="list-group-item list-group-item-success ">
                           <strong>Sucursal N° 3</strong><br>
                            9 de Julio 1860, Provincia de Tucumán
                        </address>
                        <a href="tel:+54 9 11 6481-6243"
                            class="list-group-item clickToCall clickableBackgroundColor active"><span
                            class="fa fa-phone mr-2"> </span>LLamar
                        </a>
                    </div>
                    <p></p>
                    <div class="list-group">
                        <address class="list-group-item list-group-item-success ">
                            <strong>Sucursal N° 4</strong><br>
                             Laprida 350, Provincia de Mendoza
                        </address>
                        <a href="tel:+54 9 11 6481-6243"
                           class="list-group-item clickToCall clickableBackgroundColor active"><span
                           class="fa fa-phone mr-2"> </span>LLamar
                        </a>
                    </div>
                    <p></p>
                    <div class="list-group">
                        <address class="list-group-item list-group-item-success ">
                            <strong>Sucursal N° 5</strong><br>
                            Av. Colón 4500, 
                            Provincia de Córdoba
                        </address>
                        <a href="tel:+54 9 11 6481-6243"
                            class="list-group-item clickToCall clickableBackgroundColor active"><span
                            class="fa fa-phone mr-2"> </span>LLamar
                        </a>
                    </div>
                    <p></p>
                    <div class="list-group">
                        <address class="list-group-item list-group-item-success ">
                            <strong>Sucursal N° 6</strong><br>
                            Av. San Martín 1540, 
                            Provincia de Chaco
                        </address>
                        <a href="tel:+54 9 11 6481-6243"
                            class="list-group-item clickToCall clickableBackgroundColor active"><span
                            class="fa fa-phone mr-2"> </span>LLamar
                        </a>
                    </div>
                </div>    
            </div>
        </div>            
    </div>     
</main>