

<div class="card mb-3" style="max-width: 2000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="./assets/pagina/motor-1.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">¿Quiénes somos?</h1>
          <p class="card-text"> Somos una empresa dedicada al cuidado y mantenimiento de tu vehículo.</p> <br>
          <p class="card-text"><small class="text-body-secondary">Contamos con mas de 20 años de experiencia y una amplia redes de sucursales en distintas zonas del país. <br>
            Sabemos lo importante que es tu vehículo y por eso te ofrecemos los mejores servicios y una garantía inigualable. <br>
            La constante actualización de nuestro equipo técnico de especialistas nos convierte en una opción confiable y segura. <br>
            </small></p>

        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 2000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="./assets/pagina/carrolevantado.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">¿Que hacemos?</h1>
          <p class="card-text">Diagnosticamos y realizamos la reparación de tu vehículo con equipos especializados. </p> <br>
          <p class="card-text"><small class="text-body-secondary">Nuestros diagnósticos son realizados por personal capacitado, lo que los hace precisos y exactos. <br>
            ¡Recuerde! El frecuente y adecuado mantenimiento de su automóvil le evitará gastos innecesarios. <br>
            Seguinos en nuestras redes para vernos en movimiento. </small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-bg-dark mb-3" style="max-width: 25rem;">
    <div class="card-header">NO PIERDAS EL TIEMPO</div>
    <div class="card-body">
      <h5 class="card-title">No lo dejes en manos inexpertas!</h5>
      <p class="card-text">Somos líderes en servicios y productos para tu vehículo.</p>
      <a href="./app/pages/contacto.component.html" class="btn btn-primary" role="button" data-bs-toggle="button">Comunicate con nosotros</a>
    </div>
  </div>
  