<section class="w-100 vh-100 d-flex align-items-center bg-color">
  <form
    class="col shadow p-3 d-flex flex-column gap-3 bg-white"
    [formGroup]="registrar"
    (ngSubmit)="guardar()"
  >
    <h2>Registro</h2>
    <div class="col-12">
      <label for="validationName" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        placeholder="Juan"
        name="nombre"
        id="validationNombre"
        required
        formControlName="nombre"
        [class.is-invalid]="nombreNoValido"
      />
      <small *ngIf="nombreNoValido" class="text-danger"
        >El nombre es un campo requerido</small
      >
    </div>

    <div class="col-12">
      <label for="validationCustom02" class="form-label">Apellido</label>
      <input
        type="text"
        class="form-control"
        id="validationApellido"
        placeholder="Pérez"
        name="apellido"
        formControlName="apellido"
        required
        [class.is-invalid]="apellidoNoValido"
      />
      <small *ngIf="apellidoNoValido" class="text-danger"
        >El apellido es un campo requerido</small
      >
    </div>

    <div class="col-12">
      <label for="validationEmail" class="form-label">Correo</label>
      <input
        type="email"
        class="form-control"
        id="validationEmail"
        aria-describedby="inputGroupPrepend"
        placeholder="juanperez@gmail.com"
        formControlName="correo"
        required
        [class.is-invalid]="correoNoValido"
      />
      <small *ngIf="correoNoValido" class="text-danger"
        >Ingrese un correo valido</small
      >
    </div>

    <div class="col-12">
      <label for="validationPassword" class="form-label">Contraseña</label>
      <input
        type="password"
        class="form-control"
        id="validationPassword"
        aria-describedby="inputGroupPrepend"
        formControlName="password1"
        required
        [class.is-invalid]="password1NoValido"
      />
      <small *ngIf="password1NoValido" class="text-danger"
        >Ingrese una contraseña con el minimo de 6 caracteres</small
      >
    </div>

    <div class="col-12">
      <label for="validationPassword" class="form-label"
        >Confirmar Contraseña</label
      >
      <input
        type="password"
        class="form-control"
        id="validationPassword"
        aria-describedby="inputGroupPrepend"
        formControlName="password2"
        required
        [class.is-invalid]="password2NoValido"
      />
      <small *ngIf="password2NoValido" class="text-danger"
        >Las contraseñas no coinciden</small
      >
    </div>
    <div *ngIf="status === 'failed'" class="alert alert-danger" role="alert">
      Este usuario ya esta registrado
    </div>
    <div class="col-12">
      <button class="col-12 btn btn-primary" type="submit">
        <div
          *ngIf="status === 'loading'"
          class="spinner-border"
          role="status"
          style="height: 20px; width: 20px"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
        Registrar
      </button>
    </div>

    <div class="col-12">
      <p>Ya tienes una cuenta? <a routerLink="/login">Ingresa</a></p>
    </div>
  </form>
</section>
